html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

button {
	display: inline-block;
	border: none;
	padding: .25rem 1rem;
	margin: 0;
	text-decoration: none;
	background: #0069ed;
	color: #fff;
	font-family: sans-serif;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none
	touch-action: manipulation;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	float:none;
	clear:both;
}


body.splash {
	margin: 0;
	padding: 0;
	background: url('../images/grass.png');
}

body.game, #map {
	touch-action: none;
	overflow:hidden;
	position: absolute;
}

#map {
	background: url('../images/grass.png');
}

#loadLevel {
	    top: 5px;
    float: left;
    position: relative;
	}

#addLevel{
	opacity: .4;
	font-size:.5em;
	padding:4px;
}

#addLevel:hover {
	opacity: 1;
	cursor: pointer;
}

#splash {
	width: 800px;
	margin:0 auto;
	padding: 50px;
}

#audioToggle {
	position:fixed;
	top:10px;
	right:10px;
	width:30px;
	height:30px;
	opacity:0.6;
}

#audioToggle:hover {
	cursor:pointer;
	opacity: 1;
}

#newGame h3, #splash h1 {
	font-family: 'Press Start 2P', cursive;
	font-size:36px;
	margin-bottom:16px;
	text-align:center;
	margin: 16px auto;
	color: yellow;
}

#newGame p, #splash p{
	font-family: Monospace;
	font-size:16px;
	margin-bottom: 14px;
	text-align:center;
	margin: 30px auto;
	max-width: 750px;
	color: white;
	line-height: 20px;
}

#newGame h3 {
	font-size:26px;
	margin-top:40px;
}

#newGame p{
	font-family: Monospace;
	font-size:14px;
	margin:25px auto;
	text-align:center;
	color: white;
	line-height: normal;
	max-width:50%;
}

#splash img{
	text-align: center;
	margin: 30px auto;
	display: block;
}

#newGame button, #splash button{
	margin: 30px auto;
	text-align: center;
	display: block;
	padding: 20px 90px;
	color: yellow;
	font-family: 'Press Start 2P', cursive;
}


#hud {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 6;
	height: 60px;
	padding: 15px 15px;
	box-sizing: border-box;
	font-size: 20px;
	font-family: Poppins;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 5px 5px 15px rgba(25, 25, 25, .3);
}

#hud p {
	font-size: .6em;
	padding: 10px;
}

#map, #editor {
	width: 1952px;
	height: 1370px;
	background: url('../images/grass.png');
	position: absolute;
	top: 60px;
	overflow:hidden;
	
}

#map {
	animation: grassCycle 300s infinite;
}

@keyframes grassCycle {
	0% {background: url('../images/grass.png');}
	50% {background: url('../images/grassdead.png');}
	100% {background: url('../images/grass.png');}
}

#editor {
	background: none;
	z-index: 6;
	display:none;
}

#character {
	width: 128px;
	height: 128px;
	background-color: red;
	position: absolute;
	left: 0;
	top: 0;
	background: url('../images/character.png');
}

#hud h1 {
	font-family: 'Press Start 2P', cursive;
	font-size:12px;
	text-align:center;
	margin:0 auto;
	max-width:400px;
}

#courageMeter {
	width: 300px;
	height: 10px;
	border: 1px solid grey;
	
	margin: 8px auto 0 auto;
}

#courage {
	background-color: red;
	height: 10px;
}

.cell {
	height: 32px;
	width: 32px;
	float: left;
	border: 1px solid blue;
	box-sizing: border-box;
	background-color: rgba(255,255,255,.25);
	z-index: 10000;
	position: relative;
}

.active {
	background-color: blue;
}

.active2 {
	background-color: green;
}

.home {
	background: url('../images/houseBlue.png ');
	overflow:visible;
	height:96px;
	width:96px;
}

.item {
	position: absolute;
}


.store {
	background-image:url('../images/store.png');
}

.ingredients {
	background-image:url('../images/ingredients.png');
}

.reportcard {
	background-image:url('../images/reportcard.png');
}

.homework {
	background-image:url('../images/bag.png');
}

.mushroom {
	background-image:url('../images/mushroom.png');
}

.milk {
	background-image:url('../images/milk.png');
}

.rocks {
	background-image:url('../images/rocks.png');
}


#editor .wall,
#editor .modifier,
#editor .tree,
#editor .enemy,
#editor .home,
#editor .house,
#editor .collider,
#editor .courage,
#editor .dog{
	width: 32px;
	height: 32px;
	position:relative;
}

#editor .courage {
	background-color: rgb(249, 4, 147) !important;
}

.dog{
	background:url('../images/dog.png')
}

#editor .home,
#editor .house{
	/*background:rgba(9, 182, 234, 0.75);*/
	/*border: 3px solid red;*/
	/* z-index: 5; */
}

#editor .house::after,
#editor .home::after{
	content:"";
	width:96px;
	height:64px;
	position:absolute;
	top:0;
	left:0;
	z-index: -55;
}

#editor .home:after {
	background-image:url('../images/houseBlue.png');
	/* z-index: -1; */
}

#editor .collider {
	border:3px solid red;
}

#guide .wall,
#guide .modifier,
#guide .tree,
#guide .enemy {
	width: 32px;
	height: 32px;
	position:absolute;	
}

#guide .home {
	position:absolute;
}

.wall {
	background: url('../images/stone.png')
}

.item {
		width: 32px;
		height: 32px;
}

.tree {
	background: url('../images/treePine.png');
}

.enemy {
	background:url('../images/enemy2.gif');
}

.collider {
	border:black 1px solid;
}



.house, .house:after {
	background-image:url('../images/houseGeneric.png');
	width:96px;
	height:64px;
	position:absolute;
}

.house:nth-child(2n) {
	background-image:url('../images/houseGrandmaGreen.png');
}

.house:nth-child(3n) {
	background-image:url('../images/houseGrandmaBrown.png');
}

#home, #barn {
	width:96px;
	height:64px;
	position:absolute;
	left:32px;
	top:32px;
	background-image:url('../images/houseBlue.png')
}

.barn {
	background-image:url('../images/barn.png')
}

.modifier, .mod {
	background-color: yellow;
	background: url('../images/hotchocolate.png')
}

.

#viewGuide {
	margin: 0 25px;
}

i {
	margin: 5px;
}

#deathWall {
	/* background: url('../images/deathwall.png') left top repeat-y; */
	/* background-size:cover; */
	background: rgba(40,40,40,.65);
	
}

#deathWallContainer {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 5;
}

#mapOverlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .9);
	z-index: 1000;
}

#viewGuide,
#mapMode {
	display: none;
}

#mapTools {
	position:absolute;
	padding:10px;
	background-color:white;
	box-shadow:5px 5px 15px rgba(0,0,0,.28);
	left:10px;
	top:10px;
	z-index: 99999;
	display:none;
	overflow-y:hidden;
	font-family: Poppins !important;
	max-width: 350px;
	
}

#mapToolsPanel {
	overflow-y:scroll;
	max-height:70vh;
}

#mapTools h1, #mapTools h2, #mapTools h3, #mapTools h4 {
	text-transform:uppercase;
	font-family:Poppins !important;
	font-weight: 600;
	/* margin-top: 20px; */
}

#mapTools h1 {
	font-family:Poppins !important;
	font-size:1.4em;
	padding: 14px;
}

#mapTools h2 {
	font-size:.9em;
}

#mapTools h3 {
	font-size: 0.75em;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 10px;
}

#mapTools h4 {
	font-size: 0.75em;
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: 10px;
}

#mapToolsHeader {
	overflow:hidden;
	margin-bottom: 0px;
	height:100%;
	padding:15px 10px;
	cursor: move;
	font-size:10px;
	background:rgb(64, 140, 67);
	margin: -10px -10px 0px -10px;
	transition:.124s ease all;
	color:white;
}

#mapToolsHeader:hover {
	background:rgb(51, 109, 53);
	cursor: move;
	color:#fff;
}

#mapTools p {
	padding:5px;
}

#mapTools #closeMapTools {
	padding:10px;
}

#mapTools #closeMapTools {
	cursor:pointer;
}

#mapTools form#mapInputs {
	overflow:hidden;
	margin-bottom: 0px;
	height:100%;
}

#mapTools button {
	transition:.124s ease all;
	width: 90%;
	margin-bottom:5px;
	background: rgba(160,160,160,1);
	margin: 5px 10px;
	color: white;
	font-size: .86em;
	padding: .5em auto;
}

#mapTools button#setHomeCells.active {
	color:white;
	background-color: #B51E1E;
}


#mapTools button.active {
	color:white;
	background-color: blue;
}

#mapTools #createLevel {
	padding:20px;
	margin: 10px;
}

#mapTools button:hover {
	background:rgb(64, 140, 67);
}

#mapTools label, #mapTools input, #mapTools p {
	min-width: 14px;
	margin:5px;
	font-size: 0.9em;
	position: relative;
	line-height: 1.5em;
	color: #3d3d3d;
	max-width: 130px;
}


#mapTools p {
	max-width: 100%;;
}

#mapTools label{
	font-weight:bold;
}

#mapTools hr {
	margin:20px 0px;
}

#mapTools table {
  border-collapse: collapse;
  width: 95%;
  font-size: .7em;
  margin: 10px 0px 5px 10px;
}

#mapTools th, #mapTools td {
  text-align: left;
  padding: 8px;
}

#mapTools tr:nth-child(even){background-color: #f2f2f2}

#mapTools th {
  background-color: #3d3d3d;
  color: white;
}


#newGame{
	background-color:rgba(0,0,0,.85);
	color:white;
	position: fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:99999;
}



#console {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 60px;
	height:30px;
	padding: 4px 10px;
	font-size: 10px;
	font-family: monospace;
	box-sizing: border-box;
	box-shadow: -5px -5px 15px rgba(25, 25, 25, .3);
	z-index: 1000;
	background-color: #fff;
	color: green;
}

label {
		font-size: 10px;
		/* font-family: monospace; */
}

#inventory {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 60px;
	padding: 10px;
	font-size: 10px;
	font-family: monospace;
	box-sizing: border-box;
	border-top: 1px solid grey;
	z-index: 1000;
	background-color: #fff;
}

#inventory .item {
	position: static;
	display:inline-block;
}
#invBag,
#invHome,
#invMod{
	min-width: 50px;
	margin-right: 20px;
	display: inline-block;
}

@keyframes crying {
	from {background:url('../images/WlkCry1.png')}
	to {background:url('../images/WlkCry2.png')}
}


	#mobileControls {
		display:block;
		height:50px;
		width:100%;
		background-color:red;
		position:fixed;
		bottom:100px;
		z-index:999;
		display:flex;
		align-items: stretch	;
	display:none;
	}
.control {
	margin:0 2px;
	padding:12px;
	flex:1;
}

#deathWall {
	width: 100vw;
	height: 100vh;
}

button#setItem, button#clearItem {
    font-size: 1em;
    background: rgb(140,150,150);
    width: 90%;
}

div#guide {
    width: 100%;
    height: 100%;
    position: relat